In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tabulate import tabulate

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
file_path = 'ticket_dataset_RusAirports.json'
df = pd.read_json(file_path)

In [4]:
print(df.head())
print(df.shape)
print(df.info())
df['number_of_changes'].fillna(0, inplace=True)

   value  trip_class origin  number_of_changes            found_at  \
0  43270           0    MOW                2.0 2022-03-30 14:54:04
1  28166           0    MOW                3.0 2022-04-02 08:08:06
2  24159           0    MOW                2.0 2022-04-01 09:23:26
3  11160           0    MOW                1.0 2022-04-02 12:09:50
4  19920           0    MOW                1.0 2022-04-02 12:44:34

  destination depart_date airline search_date
0         SYZ  2022-04-21      TK  2022-04-02
1         SPU  2022-04-25      W6  2022-04-02
2         SZF  2022-04-14      TK  2022-04-02
3         ABA  2022-04-12      S7  2022-04-02
4         CAI  2022-04-14      SU  2022-04-02
(106348, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106348 entries, 0 to 106347
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   value              106348 non-null  int64
 1   trip_class         106348 non-null  int64
 2   origin             106348 non-null  object
 3   number_of_changes  88200 non-null   float64
 4   found_at           106348 non-null  datetime64[ns]
 5   destination        106348 non-null  object
 6   depart_date        106348 non-null  object
 7   airline            106348 non-null  object
 8   search_date        106348 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 7.3+ MB
None

In [5]:
df_ticket = df.copy()

In [6]:
df_ticket.drop(columns=['trip_class'], inplace=True)

In [7]:
dt_cols = ['depart_date', 'search_date']
for dt_col in dt_cols:
    df_ticket[dt_col] = pd.to_datetime(df_ticket[dt_col])

In [8]:
df_ticket.rename(columns={'value':'price'}, inplace=True)

In [9]:
df_ticket['number_of_changes'] = df_ticket['number_of_changes'].astype('int8')

In [10]:
for dt_col in dt_cols:
    prefix = dt_col.split('_date')[0]
    s_date = df_ticket[dt_col]
    
    df_ticket[f'{prefix}_month'] = s_date.dt.month
    df_ticket[f'{prefix}_weekday'] = s_date.dt.weekday
    df_ticket[f'{prefix}_day'] = s_date.dt.day

In [13]:
print(df_ticket.head())
print(df_ticket.shape)
print(df_ticket.info())

   price origin  number_of_changes            found_at destination  \
0  43270    MOW                  2 2022-03-30 14:54:04         SYZ
1  28166    MOW                  3 2022-04-02 08:08:06         SPU
2  24159    MOW                  2 2022-04-01 09:23:26         SZF
3  11160    MOW                  1 2022-04-02 12:09:50         ABA
4  19920    MOW                  1 2022-04-02 12:44:34         CAI

  depart_date airline search_date  depart_month  depart_weekday  depart_day  \
0  2022-04-21      TK  2022-04-02             4               3          21
1  2022-04-25      W6  2022-04-02             4               0          25
2  2022-04-14      TK  2022-04-02             4               3          14
3  2022-04-12      S7  2022-04-02             4               1          12
4  2022-04-14      SU  2022-04-02             4               3          14

   search_month  search_weekday  search_day
0             4               5           2
1             4               5           2
2             4               5           2
3             4               5           2
4             4               5           2
(106348, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106348 entries, 0 to 106347
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   price              106348 non-null  int64
 1   origin             106348 non-null  object
 2   number_of_changes  106348 non-null  int8
 3   found_at           106348 non-null  datetime64[ns]
 4   destination        106348 non-null  object
 5   depart_date        106348 non-null  datetime64[ns]
 6   airline            106348 non-null  object
 7   search_date        106348 non-null  datetime64[ns]
 8   depart_month       106348 non-null  int32
 9   depart_weekday     106348 non-null  int32
 10  depart_day         106348 non-null  int32
 11  search_month       106348 non-null  int32
 12  search_weekday     106348 non-null  int32
 13  search_day         106348 non-null  int32
dtypes: datetime64[ns](3), int32(6), int64(1), int8(1), object(3)
memory usage: 8.2+ MB
None